<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Text Analysis</title>
  </head>
  <body>
    <h1>Your Pig-Latinized Text Is:</h1>

    <h2> <%= @pig_latinized.latinize%></h2>

  </body>
</html>
